<div class="jumbotron" id="bruno"
{#  style="background-image:url('{{asset('img/'~'hero2.jpg')}}');background-repeat: no-repeat;
  background-position: 50% 50%; background-size: cover; height: 30vw" #}
  >
<nav class="navbar navbar-expand navbar-light positionning">
  
    <ul class="navbar-nav mr-auto" >
      <li class="nav-item active">
        <a class="nav-link" id="linkformatting" href="/test" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="linkformatting" href="/product" >Product</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" id="linkformatting" href="/contact" >Contact us</a>
      </li>
    </ul>
  </nav>
     <span id="title">Come to Bolivia, you will experience a unique country.</span> 

</div>