{% extends 'base.html.twig' %}
	{% block body %}
Hello {{name}}
 {{title}}

{% if age > 18 %}
	<p>tu es majeur</p>
{% else %}
	<p> Tu es mineur </p>
{% endif %}

<p>
Lorem ipsum sit in reprehenderit aliqua cillum pariatur voluptate nostrud eu eiusmod mollit cupidatat enim in deserunt culpa aliquip id occaecat voluptate cupidatat amet incididunt aute ea reprehenderit officia laborum anim ex cupidatat amet irure consequat et ullamco deserunt ex eu cillum velit commodo ad exercitation anim eiusmod mollit est ut culpa in in laborum laboris culpa exercitation officia ut in voluptate quis in deserunt laborum commodo in officia incididunt excepteur et ad dolore sit aute consequat id aliqua veniam ut ex nisi in dolor enim ut laboris ut pariatur aute magna consequat dolor occaecat excepteur culpa ut sed consequat minim nostrud ut laboris sed quis ad exercitation proident pariatur esse sint aliqua et sit aliqua amet labore nisi in sed nulla in exercitation sint cupidatat et dolor nisi in nostrud laboris et non dolore anim do pariatur laboris velit duis proident in enim excepteur do voluptate ad ut id ea eu in mollit non veniam aliqua sed consectetur consectetur voluptate ad veniam minim ad adipisicing officia non duis commodo deserunt magna.
</p>



	{% endblock %}
